


#rol_logo{
	font-weight:bolder;
	font-size:30px;
}

ul li a{
	text-decoration: none !important;
	color:white !important;
}
a{
	text-decoration: none !important;
}
body{
	background-color:#091821 !important;
}
li{
	list-style-type: none;
}
ul li a:hover{
    color:#061824 !important;
}
ol li{
	color:white;
}
#services_box{
      border-radius: 5px;
    }
#services_box:hover{
         box-shadow: 3px 3px 10px lightgray;
         cursor: pointer;
    }
#comment_box{
	border-radius: 5px;
}
#comment_box:hover{
	 box-shadow: 3px 3px 10px lightgray;
         cursor: pointer;
}
